#embeddings-view {
    margin: 10px;
    padding: 10px;
}

.points .point {
    stroke: none;
}

.point.highlighted {
    stroke: black;
    stroke-width: 1px;
}
.point.selected {
    stroke: black;
    stroke-width: 3px;
}
