#semantic-space-view {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.combinations .dot {
    stroke-width: 1px;
    stroke: black;
    fill: none;
}

.combinations .dot.selected {
    fill: black;
}


.bar-charts {
    font-size: 10px;
}
.bar-charts .axis line {
    stroke: black;
    stroke-width: 1px;
}
.bar-charts .bar {
    fill: grey;
    stroke: none;
}