.App {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /*justify-content: center;*/
    /* flex-wrap: wrap; */
}

.App .view {
    border: 1px dotted grey;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}

.table td.cell-num {
    text-align: right;
}

/* Adjacency matrix view */

#adjacency-matrix-view rect.cell {
    stroke: none;
}
#adjacency-matrix-view text {
    font-size: 10px;
}
#adjacency-matrix-view rect.bar {
    stroke: none;
    fill: #000;
}

/* Detail view */

#detail-view {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9999;
    background-color: aquamarine;
    width: 99vw;
    max-height: 200px;
    padding: 10px;
}

/* Embedding view */

.background-color-tiles rect {
    stroke: none;
}

/* Graph view */

.point,
.node {
    stroke: none;
    fill: grey;
    /* fill-opacity: 0.6; */
}

.edge {
    stroke: #ccc;
    stroke-width: 1px;
    stroke-opacity: 0.5;
}

.node-group {
    stroke: red;
    stroke-width: 2px;
    fill: #ddd;
    fill-opacity: 0.3;
}

.point text,
.node text {
    fill: black;
    stroke: none;
}

.point.hop-2,
.node.hop-2 {
    fill: #fcae91;
}
.point.hop-1,
.node.hop-1 {
    fill: #fb6a4a;
}

.point.selected,
.node.selected {
    stroke: black;
    stroke-width: 1px;
    fill: #cb181d;
}

.point.highlighted,
.node.highlighted,
.edge.highlighted {
    /*stroke: black;*/
    /*stroke-width: 1px;*/
    animation: blinkingEffect 1s infinite;
}

.edges line.edge.highlighted {
    /* stroke: black; */
    stroke: #aaa;
    stroke-opacity: 1;
}

@keyframes blinkingEffect {
    0% {
        fill-opacity: 0.2;
        stroke: none;
    }
    25% {
        fill-opacity: 0.6;
        stroke-width: 1px;
        stroke: black;
    }
    50% {
        fill-opacity: 1;
        stroke-width: 1px;
        stroke: black;
    }
    75% {
        fill-opacity: 0.6;
        stroke-width: 1px;
        stroke: black;
    }
    100% {
        fill-opacity: 0.2;
        stroke: none;
    }
}

.nodes .selected-neighbor-glyph {
    stroke: black;
    stroke-width: 1px;
}

#global-controls {
    width: 100%;
    margin: 5px 0;
}
.graph-info {
    padding: 0 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.graph-info .node-type-legend {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
}
.graph-info .node-type-legend .emu-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#selection-info {
    /* padding: 0 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}
#selection-info .selection-group {
    margin-bottom: 10px;
}

/* Semantics space view */

.combinations .dot {
    stroke-width: 1px;
    stroke: black;
    fill: none;
}

.combinations .dot.selected {
    fill: black;
}

.bar-charts {
    font-size: 10px;
}
.axis line {
    stroke: black;
    stroke-width: 1px;
}
.bar-charts .bar {
    fill: grey;
    stroke: none;
}

.group-line {
    stroke-width: 20px;
    stroke: black;
}

.subgroup-line {
    stroke-width: 10px;
    stroke: grey;
}

rect.highlight-strip {
    fill: grey;
    fill-opacity: 0.4;
    stroke: none;
}

/* node attr view */
.histogram rect.bar {
    stroke: none;
    fill: grey;
}

.histogram .axis line {
    stroke: black;
    stroke-width: 1px;
}

.histogram .axis text {
    font-size: 10px;
}
.histogram .axis .value-marker line {
    stroke: red;
    stroke-width: 1px;
}
.histogram .axis .value-marker text {
    fill: red;
}

.edge-list {
    /* border: 1px solid grey; */
    max-height: 400px;
    max-width: 250px;
    overflow: scroll;
    font-size: 12px;
}

.scatterplot {
    font-size: 10px;
}
.scatterplot .dot {
    color: grey;
    opacity: 0.5;
}

.feature-matrix rect.cell {
    border: none;
}
.feature-matrix .legend rect {
    border: none;
}
.feature-matrix {
    font-size: 12px;
}

.feature-barcode line {
    stroke-width: 1px;
}

.histogram-row {
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
}
.histogram-row-title {
    width: 35px;
    align-self: center;
}
.histogram-block {
    /* height: 160px; */
}
.histogram-block .title {
    height: 20px;
}

.bounding-box text {
    font-size: 12px;
}
.bounding-box rect {
    stroke: #ccc;
    stroke-width: 1px;
    fill: blue;
    fill-opacity: 0.3;
}

.del-btn {
    /* position: absolute;
    right: 5px;
    top: 5px; */
    background-color: #666;
    color: white;
    cursor: pointer;
    font-size: 10px;
    padding: 1px 4px;
}

.brushable-area {
    fill: #fff;
    stroke: none;
    fill-opacity: 0;
}

.brushed-area {
    stroke: #ccc;
    stroke-width: 1px;
    fill: blue;
    fill-opacity: 0.3;
}
